.sectionWrapper{
    width: 438px;
    height: 74px;
    border-radius: 43px;
    background-color: #413e3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    
}


.input{
    height: 100%;
    padding: 0px 0px !important;
    border-width: 0px;
    background-color: #413e3e;
    
}

.input::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;;
}

.button{
    height: 98%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
