.navbarWrapper{
    background-color : #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.pagesWrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    color:#FFFFFF;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}

.buttonClass{
    padding: 10px;
    color: #FFFFFF;
    background-color: #111111;
    border-width: 2px;
    border-color: #FFFFFF;
}